@media screen and (max-width: 1200px) {
  
  body{
  	background: red;
  }
  .holder {
     width: 940px;
  }

  #content > ul li.item{
  	width: 31%;
  	margin: 5px 1%;
  }

  #content > ul li.item img{
  	width: 90%;
  	height: auto;
  }

}



@media screen and (max-width: 990px) {
  
  body{
  	background: yellow;
  }

  .holder {
     width: 720px;
  }

  #sidebar{
  	display: none;
  }

  #content{
  	margin-left: 0;
  }


}


/* @media screen and (max-width: 768px) {*/
@media screen and (max-width: 640px) {


	body{
	  	background: green;
	  }

	.holder {
	     width: 100%;
	 }

	#logo-bar{
		height: 140px;
	}

	#logo{
		float: none;
		height: 110px;
	}

	#logo span{
		font-size: 5em;
	}

	#search-box{
	 	float: none;
	 	margin: 0;
	 	height: 30px;
	 	line-height: 30px;
	}
	#content > ul li.item{
	  	width: 47%;
	  	margin: 5px 1%;
	  }

	  #featured{
	  	display: none;
	  }

	  footer .row h3 {
	  	margin-top: 5px;
	  }
	  
	  .col5{
	  	width: 92%;
	  	margin: 0 4%;
	  }
}


/*@media screen and (max-width: 250px) {*/
@media only screen and (max-width: 365px) {

	body{
	  	background: pink;
	  }

	.holder {
	     width: 100%; /*250px;*/
	     min-width: 215px;
	 }

	#logo span{
		font-size: 2.5em;
	}

	#content > ul li.item{
	  	width: 98%;
	  	margin: 5px 1%;
	  	display: block;
	  }

}